/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size:12px;
	line-height:18px;
	font-family: 'Open Sans', arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:focus, a:visited{
	outline:0;
	text-decoration: none;
}

.no_click{

}


h4{
	margin-bottom:10px;
	font-size:14px;
}


h1{
	margin-bottom: 20px;
}

.clear{
	clear: both;

}

p{
	margin-bottom:15px;
}

.container{
	width: 99%;
	margin: 0 auto;
	position: relative;
}

header{
	height:74px;
	padding: 0 35px;
	border-bottom: 1px solid #eeeeee;
	
	.container{
		
	}
}

.column{
	float: left;
	margin-bottom:35px;
}

.figure{
	color: #464646;
	font-size: 50px;
	font-weight: bold;
}

#content img{
	max-width:100%;
	height:auto;
}


#content h2{
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top:10px;
}


#content h4{
	color:#f58220;
	border-bottom: 1px solid #f58220;
	text-transform:uppercase;
}




#top_right{
	position: absolute;
	right: 0;
	top:32px;
}

a.logo{
	display: block;
	position: absolute;
	top:15px;
}

nav#main{
	position: absolute;
	left: 315px;
	top:32px;
}

nav#main ul li{
	display: inline-block;
	font-size:12px;
	margin-right:50px;
	text-transform: uppercase;
	position:relative;
	height:43px;
}



nav#main ul li ul.sub-menu{
	position: absolute;
	top:43px;
	left: -30px;
	width: 250px;
	z-index: 10;
	background: #FFF;
	display: none;
}

nav#main ul li ul.sub-menu li{
	margin:0;
	display: block;
	height:30px;
}



nav#main ul li ul.sub-menu li a{
	display: block;
	padding: 5px 5px 5px 30px;
	height:20px;
}

nav#main ul li ul.sub-menu li a:hover{
	background:#eeeeee;
	color:#f58220;
}




.company_info{
	float: right;
}

#top_right ul li{
	display: inline-block;
	font-size:12px;
	margin-left:20px;
	text-transform: uppercase;
}


nav#main ul li a{
	color:#000;
}

nav#main ul li a:hover{
	color:#f58220;
}

nav#main ul li.current-menu-item a, nav#main ul li.current-menu-ancestor > a{
	color:#f58220;
}

#top_right ul li a{
	color:#000;
}

#top_right ul li a:hover{
	color:#f58220;
}




.home_banner{
	/*background: url(../images/homepage_banner.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
	width: 100%;
	height:600px;
	position: relative;
}

.home_banner .call_to_action{
	/*position: absolute;
	top:165px;
	left:470px;*/
	width: 340px;
}

.home_banner .call_to_action h2{
	color: #FFF;
	text-align: center;
	margin-bottom:40px;
	font-size: 30px;
	font-weight: 300;
}

.home_banner .call_to_action a{
	display: block;
	color:#f58220;
	background: #FFF;
	width: 340px;
	margin: 0 auto;
	text-align: center;
	height:50px;
	line-height:50px !important;
	font-size: 12px !important;
}

.orange{
	color:#f58220;
}

.grey{
	color:#6d6e71;
}

.grey_background{
	background:#eeeeee;
}

.asx_slider{
	position: absolute;
	right: -40px;
	top:75px;
	z-index:11;
	width:41px;
}

.asx_slider.open{
	right:-40px;
	width:331px;
}


.slider_button{
	display: block;
	position:absolute;
	left:0px;
}



.asx_content{
	display: none;
	width: 290px;
	min-height:400px;
	position: absolute;
	right:0px;
	background: #FFF;
}



.asx_slider.open .asx_content{
	display: block;
}



.panel{
	margin-top: -35px;
	margin-bottom:18px;
	width:33.33%;
	float: left;
	height: 286px;
	z-index: 10;
}



.panel h3{
	height:35px;
	padding: 0 35px 0 35px;
	line-height:35px;
	background:#FFF;
	display: inline-block;
	position:relative;
	font-size:12px;
	z-index:9;
}

.panel .content{
	height: 235px;
}

.panel .content .textwidget{
	padding:57px 35px;
}

.managed_funds{
	background: #eeeeee;
	height: 268px;
}

.media .content{
	padding:0px;
}

.listed_companies .content{
	padding:0px;
	height: 266px;
	

}

.listed_companies .content > div{
	padding:35px;
	
	a{
		color:#000;
	}

	p{
		margin-bottom:0px;
	}


}




.listed_companies .content > div.last{
	background:#eeeeee;
}



.panel .more_info{
	width: 50%;
	float: left;
	color: #FFF;
	background: #f58220;
	display: inline-block;
	text-align: center;
	height:50px;
	line-height:50px;
}

.panel .latest_news{
	width: 50%;
	float: left;
	display: inline-block;
	text-align: center;
	background: #FFF;
	color:#000;
	height:49px;
	line-height:50px;
	border-bottom:1px solid #e5e5e5;
}


.social_media{
	border-bottom: 1px solid #f58220;
	height:49px;
	background:#f58220;
	color:#FFF;
}

.social_media p{
	float:left;
	line-height:50px;
	padding-left: 35px;
}

.social_media .links{
	float: right;
	width:100px;
}

.social_media .links a{
	display: block;
	height:50px;
	width:50px;
	float: left;
}


.profile_photo{
	width:200px;
	height:200px;
	position:relative;
	
	
	.social_buttons{
		position: absolute;
		bottom:0;
		right: 0;
		z-index:10;
		
		.twitter{
			width: 35px;
			height:35px;
			background: url(../images/social_sprite.gif) no-repeat 0 -35px;
			display: block;
		}
		
		.linkedin{
			width: 35px;
			height:35px;
			background: url(../images/social_sprite.gif) no-repeat 0 0;
			display: block;
		}
	}
	
}


.listed_companies{
	height:301px;
}

.listed_companies h4{
	text-transform:uppercase;
	font-size: 14px;
}


footer{
	margin:0px 0 20px;
	border-top: 1px solid #eeeeee;
	padding:0;
	border-bottom: 1px solid #e5e5e5;

}

footer .container{
}


footer .column{
	float: left;
	margin:35px 0;
}

footer .one_col{
	width:33.3%;
}

footer .two_col{
	width: 40%;
}



footer a{
	color: #000;
	text-transform: uppercase;
}

footer a:hover{
	color:#f58220;
}



footer .column_one{
	
	.left{
		margin-left:35px;
		margin-top: 15px;
	}
}

footer .column_two{
}


footer .column_two li:first-child{
}



footer .column_three{
	
	.footer_menu{
		margin-top:15px;
		margin-left:35px;
	}
}



footer .column_three li:first-child{
}


.sub_footer{ 
	
	padding: 0 40px;
	
	.container{
		font-size: 12px;
		margin-bottom:30px;
	}
}



.sub_footer .left{
	width: 300px;
	float: left;
}


.sub_footer .right{
	float: right;	
}

.sub_footer .right li{
	display: inline;
	width:400px;
	margin-left: 30px;
}

.sub_footer a{
	color: #000;
}

.sub_footer a:hover{
	color:#f58220;
}


.video_link{
	display: block;
	position: relative;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	width:100%;
	height:100%;
}


.thumb{
	position: absolute;
	top: 0;
	left: 0;
	z-index:9;
}


.icon{
	position: absolute;
	z-index: 10;
	top:60px;
	left:45%;
}


.media_list .icon{
	top:100px;
	left:46%;
}




#sidebar{
	width:280px;
	margin-left:35px;
	float: left;
}



#sidebar li a{
	color:#000;
	text-transform: uppercase;
}

#sidebar li.current-menu-item{
	background:#eeeeee
		
}

#sidebar li.current-menu-item a{
	color: #f58220;
	background: url(../images/sidebar_arrow_on.png) no-repeat center right;
}


#sidebar h4{
	margin-top:50px;
	border-bottom: 1px solid #f58220;
	margin-right: 40px;
	font-size:16px;
	line-height:20px;
	padding-bottom:5px;
	height:42px;
	
	a{
		color: #f58220;
	}
}


#headerQuote, #headerChart{
	color: #f58220;
	font-size: 20px;
	padding-bottom: 5px;
	text-transform: uppercase;
}


nav#top_right{
	
	li{
		&.current-menu-item{
			a{
				color: #f58220;
			}
		}
	}
}

#content{
	float: left;
	width:83%;
	min-height:450px;
}

h3.tab{
	background: #fff none repeat scroll 0 0;
	display: inline-block;
	font-size: 12px;
	height: 35px;
	line-height: 35px;
	padding: 0 35px;
	position: relative;
	z-index:99;
}


.page_banner{
	position: relative;
	width:100%;
	height:440px;
	overflow:hidden;
}

.page_banner h3{
	z-index:9;
	color: #FFF;
	position: absolute;
	top:225px;
	left:29%;
	height:10px;
	font-size:30px;
	text-transform:uppercase;
	font-weight:300;
}


.attachment-page_banner{
	position: absolute;
	top: 0;
	left:0;
	z-index:5;
	width:100%;
	height:100%;
}

.lift{
	margin-top: -35px;
}


.left_column{
	width:50%;
	float: left;
}

.right_column{
	width:50%;
	float: left;
}


.panel_content{
	padding:35px;
}


.media_list{
	list-style-type: none;
}

.media_list .video_link{
	height:295px;
}

.media_list li{
	border-bottom:1px solid #eeeeee;
}

.media_list .listing{
	position:relative;
	height:69px;
	border-bottom:1px solid #eeeeee;
	background:#FFF;
}


.media_list span{
	display: inline-block;
	text-align: center;
	padding:10px;
	width:180px;
}

.media_list .listing br{
	display: none;
}

#content .media_list .listing h4{
	margin: 0;
	padding: 20px 0 0;
	border-bottom: none;
}

.media_list .listing a{
	display: block;
	color: #000;
	padding-left:35px;
}


.media_list .listing .terms{
	font-size:10px;
}

.media_list .listing .icon{
	width:81px;
	height:69px;
	position:absolute;
	right:0px;
	top:0px;
	left:auto;
}
.icon.video{
	background:url(../images/small_video_icon.png) no-repeat 0 0;
}

.icon.link{
	background:url(../images/small_link_icon.png) no-repeat 0 0;
}
.icon.pdf{
	background:url(../images/small_pdf_icon.png) no-repeat 0 0;
}

strong{
	font-weight: bold;
}


#content .left_column p{
	padding-right:20px;
}

.one_third{
	width:30%;
	padding-right:3%;
}

.two_thirds{
	width: 60%;
	padding-right:3%;
}

.content_padding{
	padding:35px;
}

.role{
	font-weight: bold;
}

.investment-team h1{
	font-size: 20px;
	border-bottom: 1px solid #f58220;
	text-transform: uppercase;
	padding-bottom: 5px;
}


.asset_management_menu li{
	padding: 4px 4px 4px 10px;
}

.asset_management_menu li:hover{
	background:#eeeeee;
}

.asset_management_menu li a{
	display: block;
	margin-right:35px;
	background: url(../images/sidebar_arrow_off.png) no-repeat center right;
}

#sidebar .asset_management_menu li:hover a{
	color:#f58220;
	background: url(../images/sidebar_arrow_on.png) no-repeat center right;
}



.pagination{
	
	float: right;
	margin-bottom:40px;
	
	.current_viewing{
		display: block;
		text-align: center;
	}
	
	a{
		display: inline-block;
		background: #f58220;
		color: #fff;
		padding: 6px;
		margin-left: 3px;
		width:50px;
		text-align: center;
	}
	
	a.disable{
		background: #f2a068;
		cursor: default;
	}
	
	
}




.member{
	width: 200px;
	height:350px;
	float: left;
	position: relative;
	margin: 0 35px 35px 0;
}

.member .more_info{
	position: absolute;
	background: #f58220;
	background: rgba(245,130,32, 0.9);
	color: #FFF;
	top: 162px;
	width:100%;
	text-align: center;
	padding: 10px 0;
	display: none;
}



.member a{
	
	display: block;
}

.member h4{
	color:#f58220;
	border-bottom: 1px solid #f58220;
	text-transform: uppercase;
}

.member img{
	height:200px;
	min-width:200px;
}

.member .qualifications, .member .role{
	color: #000;
	margin-bottom: 0px;
}

.member h4{
	font-size: 16px;
	padding-bottom:5px;
}


.left_column.right_margin{
	width:47%;
}

.right_column.left_margin{
	width:47%;
	
}

.left_margin{
	margin-left: 3%;
}

.right_margin{
	margin-right:3%;
}


.reports h1, .media h1, #content h1{
	font-size: 20px;
	border-bottom: 1px solid #f58220;
	text-transform: uppercase;
	padding-bottom: 5px;
	color:#f58220;
}


.breadcrumbs{

	margin-bottom: 20px;

	 a{
		text-transform: uppercase;
		color: #6d6e71;
	}
}


#reports{
	width: 100%;
	margin: 40px 0;
}

#reports thead{
	border-bottom: 1px solid #f58220;
}

#reports thead td{
	color: #f58220;
	text-transform: uppercase;
	padding: 20px 0 5px 20px;
	font-size:16px;
}

#reports tbody tr:nth-child(odd){
	background: #FFF;
}

#reports tbody td{
	padding: 20px;
}

#reports tbody td a{
	color: #000;
}



select{
	border: 0px;
	margin-right: 30px;
	padding:6px;
}

.orange_button{
	background:#f58220;
	color: #FFF;
	padding: 6px;
	border: none;
	cursor: pointer;
	cursor: hand;
}

.no_results{
	margin-top:40px;
}



.media .media_list{
	
	margin-top:40px;

}

.media .media_list .video_link .icon{
	left:45%;
	top:80px;
}

.media .media_list .video_link {
    height: 240px;
}

.media .media_list .thumb{
	width:410px;
	height:240px;
}

.media .media_list .description{
	padding:20px;
	border-bottom: 1px solid #eeeeee;
}

.media .media_list .orange_button{
	display: inline-block;
	width: 150px;
	text-align: center;
	margin-right: 20px;
	padding:10px;
}

.media .media_list li{
	margin: 0 50px 30px 0;
	float: left;
	width:410px;
	background: #FFF;
}

.media .media_list li.last{
	
}

footer .gform_body{
	float: left;
}

footer .gform_wrapper .top_label input.medium, footer .gform_wrapper .top_label select.medium {
    width: 194px;
}

footer .gform_wrapper {
	
	margin-top: 0;
	
	.gform_footer{
		float: left;
		width:60px;
		clear: none;
		margin-top:5px;
		padding:0px;
		.top_label {
			padding-top: 0px !important;
		}
	}
}

footer .gform_wrapper .top_label .gfield_label{
	font-weight: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-top:5px;
	margin-right: 35px;
	display: inline-block;
}

.footer_menu{
	float: right;
	li{
		display: inline-block;
		margin-right:30px;
	}
}

.footer-social {
    float: right;
	margin-top: 15px;
	a img {
		height: 15px;
		margin-right: 20px;
	}
}


@media all and (max-width: 1024px) {
	footer .column_one .left {
	  margin-left: 0px;
	  margin-top: 15px;
  }
  .container_white {
	  display: flex;
	  flex-direction: column;
	  align-items:  center;
  }
  .column.one_col {
	  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:  center;
  margin-bottom: 10px;
  margin-top: 0px;
  }
  .footer-social a img {
			margin-right: 10px;
			margin-left: 10px;
		}
}

body .gform_wrapper label.gfield_label + div.ginput_container{
	display: inline-block;
}

footer .gform_wrapper .gform_footer input.button, footer .gform_wrapper .gform_footer input[type="image"], footer .gform_wrapper .gform_footer input[type="submit"] {
	background:#f58220;
	color: #FFF;
	padding: 6px;
	border: none;
	cursor: pointer;
	cursor: hand;
	height:30px;
}


#mobile_menu{
	display: none;
	position:absolute;
	background: #FFF;
	z-index:100;
	top:75px;
	right:0;
	width:80%;
}

#mobile_menu ul li{
	border-bottom:1px solid #eeeeee;
}

#mobile_menu ul li a{
	display: block;
	padding:10px 10px 10px 30px;
	text-transform:uppercase;
	color:#000;
}

#mobile_menu ul li a:hover{
	background:#eeeeee;
}


#mobile_menu ul li .sub-menu{
	display: none;
	border-top:1px solid #eeeeee;
}

#mobile_menu ul li.menu-item-has-children > a{
	background: url(../images/sidebar_arrow_down.png) no-repeat center right;
	margin-right:30px;
}

#mobile_menu ul li.menu-item-has-children > a.open{
	background: url(../images/sidebar_arrow_up.png) no-repeat center right;
}

#mobile_menu ul li .sub-menu li{
	a{
		padding-left:60px;
	}
	
	.sub-menu{
		li{
			a{
				padding-left:90px;
			}
		}
	}
	
	
}



.mobile_menu{
	display: none;
	position: absolute;
	right:10px;
	top:15px;
	
}


@-ms-viewport{
  width: device-width;
}




.contact .gform_wrapper .top_label .gfield_label{
	display: none;
}


.contact footer .gform_wrapper .top_label .gfield_label{
	display: block;
}


.contact .gform_wrapper .ginput_container{
	margin-bottom:20px;
}

.contact footer .gform_wrapper .ginput_container{
	margin-bottom:0px;
}

.contact .gform_wrapper .ginput_container input, .contact .gform_wrapper .ginput_container select, .contact .gform_wrapper .ginput_container textarea{
	border: 1px solid #ccc;
}

.contact .gform_wrapper .ginput_container select{
	color: #333;
}


.gform_wrapper .gform_footer input[type="submit"] {
    background: #f58220 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    height: 31px;
    padding: 6px 20px;
	text-transform: uppercase;
	
}


.contact .right_column h1{
	margin-top:10px;
}



.update-your-details .gform_wrapper .top_label .gfield_label{
	display: none;
}


.update-your-details .gform_wrapper .top_label .gfield_label{
	display: block;
}


.update-your-details .gform_wrapper .ginput_container{
	margin-bottom:20px;
}

.update-your-details .gform_wrapper .ginput_container{
	margin-bottom:0px;
}

.update-your-details .gform_wrapper .ginput_container input, .contact .gform_wrapper .ginput_container select, .contact .gform_wrapper .ginput_container textarea{
	border: 1px solid #ccc;
}

.update-your-details .gform_wrapper .ginput_container select{
	color: #333;
}


.gform_wrapper .gform_footer input[type="submit"] {
    background: #f58220 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    height: 31px;
    padding: 6px 20px;
	text-transform: uppercase;
	
}


.update-your-details .right_column h1{
	margin-top:10px;
}


.asset-management{
	.panel_content{
		min-height: 415px;
		padding: 35px;
	}
}


.asx_content{
	
	h3{
		border-top: 1px solid #f58220;
		border-bottom: 1px solid #f58220;
		padding-left: 10px;
		color:#f58220;
	}
	
	table{
		margin-bottom:10px;
	}
	
	thead{
		border-bottom: 1px solid #f58220;
		
		td{
			padding-left:10px;
			color:#f58220;
			text-transform: uppercase;
		}
	}
	
	tbody{
		td{
			padding-left:10px;
		}
	}

}


.full_asx_content{
	
	h3{
		border-top: 1px solid #f58220;
		border-bottom: 1px solid #f58220;
		padding-left: 10px;
		color:#f58220;
	}
	
	table{
		margin-bottom:10px;
	}
	
	thead{
		border-bottom: 1px solid #f58220;
		
		td{
			padding-left:10px;
			color:#f58220;
			text-transform: uppercase;
		}
	}
	
	tbody{
		td{
			padding-left:10px;
		}
	}

}






.stacktable{
	
	
	
	&.small-only{
		display: none;
		margin-bottom:35px;
		
		a{
			color: #000;
		}
		
		tbody{
			width:100%;
		}
		
		tr{
			width:100%;
		}
		
	}
}

.large-only{
	display: block;
}

.st-head-row{
	padding-top:35px;
}

.st-key{
	display: none;
}

.st-val {
	text-align: center;
}

.st-head-row-main{
	display: none;
}



@media (max-width: 1883px){
	#content{
		width:82%;
	}
}

@media (max-width: 1826px){
	.panel .content{
		height:254px;
	}
	
	.managed_funds{
		height:301px;
	}
}


@media (max-width: 1778px){
	#content{
		width:81%;
	}
}

@media (max-width: 1685px){
	#content{
		width:80%;
	}
}

@media (max-width: 1600px){
	#content{
		width:79%;
	}
}

@media (max-width: 1524px){
	#content{
		width:78%;
	}
}

@media (max-width: 1455px){
	#content{
		width:77%;
	}
}

@media (max-width: 1406px){
	.panel .content{
		height:272px;
	}
	
	.managed_funds{
		height:338px;
	}
}

@media (max-width: 1392px){
	#content{
		width:76%;
	}
}

@media (max-width: 1334px){
	#content{
		width:75%;
	}
	
	#sidebar{
		margin-left:35px;
	}
}

@media (max-width: 1321px){
	.panel .content{
		height:290px;
	}
	
	.managed_funds{
		height:356px;
	}
}





@media (max-width: 1300px){
	
	
	.home .container{
		width:1200px;
	}
	
	.home_banner{
		width:1200px;
		height:563px;
	}
	
	.media .media_list li {
		width:100%;
		float: none;
		margin-right:0;
	}
	

	.asx_slider {
		right:0px;
	}
	
	#content{
		width:900px;
	}
	
	.container{
		width:100%;
	}
	
	.asset-management .video_link .thumb{
		width:100%;
		height:100%;
	}
	
	.page_banner{
		width:900px;
	}
	
	.page_banner img{
		width:900px;
	}
	
	.page_banner h3 {
		left:17%;
	}
	
	
	
}


@media (max-width: 1230px){
	
	.home .container{
		width:1100px;
	}
	
	.home_banner{
		width:1100px;
		height:516px;
	}
	
	.home_banner .call_to_action {
	    left: 390px;
	}
	
	.video_link .icon {
    	left: 155px;
	}
	
	.container{
		width:100%;
	}
	
	#content{
		width:873px;
	}
	
	.page_banner{
		width:873px;
		height:360px;
	}
	
	.page_banner img{
		width:800px;
		height: 360px;
	}
	
	.page_banner h3{
	    left: 80px;
	    top: 170px;
	}
	
	.media_list .video_link {
	    height: 250px;
	}
	
	
	footer .gform_wrapper .top_label input.medium, footer .gform_wrapper .top_label select.medium{
		width:120px;
	}
	
	
}

@media (max-width: 1190px){

	.container{
		width:100%;
	}
	
	#content{
		width:800px;
	}
	
	.page_banner{
		width:800px;
		height:360px;
	}
	
	
}







@media (max-width: 1130px){
	
	
	.home .container{
		width:1000px;
	}
	
	.home_banner{
		width:1000px;
		height: 469px;
	}
	
	.home_banner .call_to_action {
	    left: 335px;
	}
	
	.panel .content .textwidget {
	    padding: 35px;
	}
	
	
	.container{
		width:100%;
	}
	
	#content{
		width:700px;
	}
	
	.media_list .video_link {
	    height: 200px;
	}
	
	.page_banner{
		width:700px;
		height:260px;
	}
	
	
	.page_banner img {
		width:700px;
		height:260px;
	}
	
	.media_list .video_link {
	    height: 180px;
	}
	
	.media_list .icon {
	    left: 115px;
	    top: 50px;
	}
	
	.page_banner h3{
		line-height:40px;
		top:120px;
		text-align: center;
		left:35px;
	}
	
	.panel .content {
	    height: 344px;
	}
	
	.managed_funds{
		height:410px;
	}
	
}


/*
@media (max-width:1030px){
	
	.home .container{
		width:900px;
	}
	
	.container{
		width:900px;
	}
	
	.home_banner{
		width:900px;
		height: 422px;
	}
	
	.video_link .icon {
	    left: 120px;
	}
	
	.home_banner .call_to_action {
	    left: 285px;
	}
	
	.home_banner .call_to_action h2{
		font-size:30px !important;
	}
	
	.listed_companies .content > div {

	}
	
	footer{
		margin-top:90px;
	}
	
	.page_banner img{
		height:260px;
	}
	
	.page_banner h3 {
	    left: 40px;
	    line-height: 30px;
	    top: 90px;
		text-align: center;
	}
	
	
	.media .media_list li{
		width:100%;
		margin-right:0;
	}
	
	.media .media_list .video_link {
	    height: 240px;
	    margin: 0 auto;
	    width: 410px;
	}
	
}


*/


@media (max-width:1030px){
	
	.home .container{
		width:800px;
	}
	
	.home_banner{
		width:800px;
		height:375px;
	}
	
	.home_banner .call_to_action {
	    left: 235px;
	}
	
	.home_banner .call_to_action h2{
		font-size:20px !important;
	}
	
	nav#main{
		display: none;
	}
	
	nav#top_right{
		display: none;
	}
	
	.mobile_menu{
		display: block;
	}
	
	
	.home_banner{
		margin-bottom:40px;
	}
	
	.panel{
		float: none;
		margin:0px 0 40px 0;
		width:100%;
		clear: both;
		height:auto;
	}
	
	.container{
		width:800px;
	}
	
	.panel h3{
		display: block;
		font-size:25px;
		padding-left:0px;
	}
	
	
	.panel .content{
		height:auto;
	}
	
	.listed_companies .content{
		height:auto;
	}
	
	.listed_companies .content > div {
	    height: auto;
	}
	
	.panel.media .content{
		height:459px;
	}
	
	.video_link .icon {
	    left: 45%;
		top:40%;
	}
	
	.media_list .video_link {
	    height: 216px;
	}
	
	
	footer .column{
		
		width:33.3%;
	}
	
	footer .two_col{
		width:25%;
	}
	
	.page_banner{
		width:800px;
	}
	
	.page_banner h3 {
	    left: 12%;
	    line-height: 30px;
	    top: 120px;
		text-align: center;
	}
	
	.page_banner img {
	    width: 800px;
		height:260px;
	}
	
	.video_link .icon {
	    left: 40%;
	    top: 30%;
	}
	
	#content{
		width:800px;
		margin:0 auto;
		float: none;
	}
	
	#sidebar{
		display: none;
	}
	
	
}


@media (max-width:930px){
		
	.board-governance{
		.left_column{
			width:100%;
			float: none;
			margin:0px;
		}
		.right_column{
			width:100%;
			float:none;
			margin:0px;
		}
	}
	
}



@media (max-width:850px){
	.container{
		width:700px;
	}
	
	.home .container{
		width:700px;
	}
	
	.home_banner{
		width:700px;
		height:328px;
	}
	
	.home_banner .call_to_action {
	    left: 190px;
		top:115px;
	}
	
	.home_banner .call_to_action h2{
		font-size:20px !important;
	}
	
	.panel.media .content {
	    height: 410px;
	}
	
	
	.panel .latest_news {
		width:49.8%;
		border-right:1px solid #e5e5e5;
	}
	
	#content{
		width:700px;
	}
	
	.page_banner{
		width:700px;
	}
	
	.page_banner img {
	    height: 260px;
	    width: 700px;
	}
	
	.page_banner h3 {
    	left: 6%;
    	top: 120px;
	}
	
}








@media (max-width:700px){
	
	.container{
		width:600px;
	}
	
	.home .container{
		width:600px;
	}
	
	
	.home_banner{
		width:600px;
		height:281px;
	}
	
	.home_banner .call_to_action {
	    left: 135px;
		top:85px;
	}
	
	.home_banner .call_to_action h2{
		font-size:20px !important;
	}
	
	footer {
		display:none;
	}
	
	.sub_footer{
		margin-top:35px;
	}
	
	.panel.media .content {
	    height: 310px;
	}
	
	#content{
		width:600px;
	}
	
	.page_banner{
		width:600px;
	    height: 220px;
	}
	
	.page_banner h3 {
	    left: 0;
	    top: 80px;
	}
	
	.page_banner img {
	    height: 220px;
	    width: 600px;
	}
	
	.media_list .video_link {
	    height: 190px;
	}
	
}


@media (max-width:600px){
	
	
	.container{
		width:500px;
	}
	
	.home .container{
		width:500px;
	}
	
	
	.home_banner{
		width:500px;
		height:234px;
	}
	
	.home_banner .call_to_action {
	    left: 85px;
		top:70px;
	}
	
	.home_banner .call_to_action a{
		width: 200px;
		margin: 0 auto !important;
	}
	
	.home_banner .call_to_action h2{
		font-size:20px !important;
	}
	
	
	.panel.media .content {
	    height: 255px;
	}
	
	.panel .latest_news {
		width:49.7%;
	}
	
	#content{
		width:500px;
	}
	
	#content .left_column{
		float: none;
		width: 100%;
	}
	
	#content .right_column{
		float: none;
		width:100%;
	}
	
	.media_list .video_link {
	    height: 280px;
	}
	
	.page_banner{
		width:500px;
	}
	
	.page_banner img {
	    height: 219px;
	    width: 500px;
	}
	
	.page_banner h3 {
	    left: 0;
	    top: 80px;
	    width: 500px;
	}
	
	.lift{
		margin-top: 40px;
	}
	
	h3.tab {
		margin:0px 0 0;
		font-size:25px;
		width:100%;
		padding:0px;
	}
	
	.column{
		float:none;
		width:100%;
	}
	
}



@media (max-width:500px){
	
	.container{
		width:400px;
	}
	
	.home .container{
		width:400px;
	}
	
	
	.home_banner{
		width:400px;
		height:188px;
	}
	
	.home_banner .call_to_action {
	    left: 35px;
		top:30px;
	}
	
	.asx_slider{
		display: none;
	}
	
	
	.panel.media .content {
	    height: 200px;
	}
	
	.video_link .icon {
	    left: 41%;
	    top: 30%;
	}
	
	.panel .latest_news {
		width:49.6%;
	}
	
	
	.sub_footer .left {
		width:50%;
	}
	
	.sub_footer .right {
		width:50%;
	}
	
	#content{
		width:400px;
	}
	
	.page_banner{
		width:400px;
	}
	
	.page_banner img{
		width:400px;
	}
	
	.page_banner h3 {
		width:320px;
		top:65px;
		left:40px;
	}
	
	.media_list .video_link {
	    height: 240px;
	}
	
	.media .media_list .thumb {
	    height: 210px;
	    width: 330px;
	}
	
	.media .media_list .video_link {
	    height: 210px;
	    margin: 0 auto;
	    width: 330px;
	}
	
	.media .media_list .video_link .icon {
	    left: 130px;
	    top: 65px;
	}
	
}




@media (max-width:430px){
	
	.container{
		width:320px;
	}
	
	.home .container{
		width:320px;
	}
	
	
	.home_banner{
		width:320px;
		height:150px;
	}
	
	.home_banner .call_to_action {
	    left: -10px;
		top:30px;
	}
	
	.home_banner .call_to_action a {
		height:40px;
		line-height:40px !important;
		width:180px;
	}
	
	
	.panel.media .content {
	    height: 200px;
	}
	
	.video_link .icon {
	    left: 41%;
	    top: 30%;
	}
	
	.home_banner .call_to_action h2 {
	    font-size: 26px;
	}
	
	.panel.media .content {
	    height: 165px;
	}
	
	.sub_footer .left {
		width:100%;
		float: none;
		text-align: center;
	}
	
	.sub_footer .right {
		width:100%;
		float: none;
		text-align:center;
	}
	
	.sub_footer .right .sub_menu{
		margin: 0 auto;
	}
	
	.sub_footer .right .sub_menu li{
		margin: 0 10px 0;
	}
	
	#content{
		width:300px;
	}
	
	.page_banner{
		width:300px;
	}
	
	.page_banner img{
		width:300px;
	}
	
	.page_banner h3 {
		width:280px;
		top:65px;
		left:5px;
	}
	
	.media_list .video_link {
	    height: 200px;
	}
	
	.sub_footer{
		margin-top:40px;
	}
	
	
	.media .media_list .thumb {
	    height: 160px;
	    width: 230px;
	}
	
	.media .media_list .video_link .icon {
	    left: 80px;
	    top: 40px;
	}
	
	.media .media_list .video_link {
	    height: 160px;
	    width: 230px;
	}
	
	.media .media_list .orange_button {
	    display: block;
	    margin-right: 0px;
	    width: 100%;
		padding-right:0px;
		padding-left:0px;
	}
	
	.media .media_list span{
		width:100%;
		text-align:center;
		display: block;
		padding: 5px 0;
	}
	
	.media_list .listing {
	    height:auto;
	}
	
	.media_list .listing .icon {
		display: none;
	}
	
	.media_list .listing .terms {
	    margin-bottom:10px;
	}
	
	.stacktable.small-only{
		display: block;
	}

	.large-only{
		display: none;
	}
	
}



@media (max-width: 350px){
	.mobile_menu{
		right: 10px;
	}
	
	.container{
		width:100%;
	}
	
	#content{
		width:100%;
	}
	
	header{
		padding: 0 10px;
	}
	
	.home_banner{
		width:310px;
	}
	
	.page_banner{
		width:100%;
	}
	
	.home{
		.container{
			width:97%;
		}
	}
	
	iframe{
		width:100%;
		
	}
}




#content {
	.selectboxit-container{ 
		
		margin-right:20px;
		margin-bottom:20px;
		height:28px;
	
		.selectboxit {
			border-radius: 0;
		
		}
		
		.selectboxit-options{
			border-radius: 0px;
			
			a{
				height:28px;
				font-size:12px;
			}
		}
		
		span{
			height:28px;
			font-size:12px;
		}

		
		.selectboxit-btn{
			background: #FFF;
			border: none;
		}
		
		.selectboxit-option-icon-container{
			margin:0px;
			padding:0px;
			width:4px;
		}
		
		
		.selectboxit-arrow-container{
			background: url(../images/dropdown-button.gif) no-repeat 0 0;
			width:28px;
			height:28px;
			
			.selectboxit-default-arrow{
				border:none;
			}
		}
	
	}
}







