/*Version: 2.75*/
#content h1,
#content h2,
#content h4,
#headerChart,
#headerQuote,
#mobile_menu ul li a,
#reports thead td,
#sidebar li a,
#top_right ul li,
.asx_content thead td,
.breadcrumbs a,
.front_page,
.full_asx_content thead td,
.gform_wrapper .gform_footer input[type=submit],
.investment-team h1,
.listed_companies h4,
.media h1,
.member h4,
.page_banner h3,
.reports h1,
footer .gform_wrapper .top_label .gfield_label,
footer a,
nav#main ul li {
    text-transform: uppercase
}

.figure,
.figure a {
    color: #464646
}

a.logo,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
latest_nta,
menu,
nav,
section {
    display: block
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
latest_nta,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

body {
    font-size: 12px;
    line-height: 18px;
    font-family: 'Open Sans', arial
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a,
a:focus,
a:visited {
    outline: 0;
    text-decoration: none
}

h4 {
    margin-bottom: 10px;
    font-size: 14px
}

h1 {
    margin-bottom: 20px;
    line-height: 24px
}

.clear {
    clear: both
}

p {
    margin-bottom: 12px
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative
}

#top_right,
a.logo,
nav#main {
    position: absolute
}

header {
    height: 74px;
    padding: 0 35px;
    border-bottom: 1px solid #eee
}

.column {
    float: left;
    margin-bottom: 35px
}

.figure {
    font-size: 50px;
    font-weight: 700;
    line-height: 45px
}

#top_right ul li,
nav#main ul li {
    font-size: 12px
}

#content h4,
#top_right ul li a:hover,
nav#main ul li a:hover,
nav#main ul li.current-menu-ancestor>a,
nav#main ul li.current-menu-item a {
    color: #f58220
}

#content img {
    max-width: 100%;
    height: auto
}

#content h2 {
    margin-bottom: 10px;
    margin-top: 10px
}

#content h4 {
    border-bottom: 1px solid #f58220
}

#top_right {
    right: 0;
    top: 32px
}

a.logo {
    top: 15px
}

nav#main {
    left: 315px;
    top: 32px
}
nav#main ul li ul.sub-menu li {
    margin: 0;
    display: block;
    height: 30px
}

nav#main ul li {
    display: inline-block;
    margin-right: 50px;
    position: relative;
    height: 43px
}

nav#main ul li ul.sub-menu {
    position: absolute;
    top: 43px;
    left: -30px;
    width: 100%;
	min-width: 341px;
    z-index: 1000;
    background: #fff;
    display: none
}

nav#main ul li ul.sub-menu li {
    margin: 0;
    display: block;
    /*height: 30px*/
}

nav#main ul li ul.sub-menu li a {
    display: block;
    padding: 5px 30px 5px 30px;
    /*height: 20px;*/
}

nav#main ul li ul.sub-menu li a:hover {
    background: #eee;
    color: #f58220
}

.company_info {
    float: right
}

#top_right ul li {
    display: inline-block;
    margin-left: 35px
}

#top_right ul li a,
nav#main ul li a {
    color: #000
}

.home_banner {
    width: 100%;
    position: relative
}

.home_banner .call_to_action {
    width: 340px
}

.home_banner .call_to_action h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 300
}

.home_banner .call_to_action a {
    display: block;
    color: #f58220;
    background: #fff;
    width: 340px;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px!important;
    font-size: 12px!important
}

.orange {
    color: #f58220
}

.grey {
    color: #6d6e71
}

.grey_background {
    background: #eee
}

.slider_button {
    display: block;
    position: absolute;
    left: 0;
	border-top: 1px solid #eee;
}

.asx_slider.open .asx_content {
    display: table
}

.panel {
    margin-top: -35px;
    margin-bottom: 18px;
    width: 33.33%;
    float: left;
    height: 286px;
    z-index: 10
}

.panel .latest_news,
.panel .more_info {
    width: 50%;
    display: inline-block;
    text-align: center
}

.panel h3 {
    height: 35px;
    padding: 0 35px;
    line-height: 35px;
    background: #fff;
    display: inline-block;
    position: relative;
    font-size: 12px;
    z-index: 20
}

.panel .latest_news,
.panel .more_info,
.social_media p {
    float: left;
    line-height: 50px
}

.panel .content {
    height: 235px
}

.panel .content .textwidget {
    padding: 57px 35px
}

.managed_funds {
    background: #eee;
    height: 268px
}

.media .content {
    padding: 0
}

.listed_companies .content {
    padding: 0;
    height: 266px
}

.listed_companies .content>div {
    padding: 35px
}

.listed_companies .content>div a {
    color: #000
}

.listed_companies .content>div p {
    margin-bottom: 0
}

.panel .more_info {
    color: #fff;
    background: #f58220;
    height: 50px
}

.panel .latest_news {
    background: #fff;
    color: #000;
    height: 49px;
    border-bottom: 1px solid #e5e5e5
}

#sidebar h4,
.social_media {
    border-bottom: 1px solid #f58220
}

.social_media {
    height: 49px;
    background: #f58220;
    color: #fff
}

.social_media p {
    padding-left: 35px;
	margin-bottom: 0px
}

.social_media .links {
    float: right;
    width: 100px
}

.social_media .links a {
    display: block;
    height: 50px;
    width: 50px;
    float: left
}

.profile_photo {
    width: 200px;
    height: 200px;
    position: relative
}

.profile_photo .social_buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10
}

.profile_photo .social_buttons .twitter {
    width: 35px;
    height: 35px;
    background: url(../images/social_sprite.gif) 0 -35px no-repeat;
    display: block
}

.profile_photo .social_buttons .linkedin {
    width: 35px;
    height: 35px;
    background: url(../images/social_sprite.gif) no-repeat;
    display: block
}

.listed_companies {
    height: 301px
}

.listed_companies h4 {
    font-size: 14px
}

footer .column {
    float: left;
    margin: 35px 0
}

footer .one_col {
    width: 33.3%
}

footer .two_col {
    width: 40%
}

footer a {
    color: #000
}

footer a:hover {
    color: #f58220
}

footer .column_one .left {
    margin-left: 35px;
    margin-top: 15px
}

footer .column_three .footer_menu {
    margin-top: 15px;
    margin-left: 35px;
    text-align: right
}

.sub_footer {
    padding: 0 40px
}

.sub_footer .container {
    font-size: 12px;
    margin-bottom: 30px
}

.sub_footer .left {
    width: 300px;
    float: left
}

.sub_footer .right {
    float: right
}

.sub_footer .right li {
    display: inline;
    width: 400px;
    margin-left: 30px
}

.sub_footer a {
    color: #000
}

#headerChart,
#headerQuote,
#sidebar h4 a,
.sub_footer a:hover,
nav#top_right li.current-menu-item a {
    color: #f58220
}

.video_link {
    display: block;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 400px
}

.icon,
.thumb {
    position: absolute
}

.thumb {
    top: 0;
    left: 0;
    z-index: 9
}

.icon {
    z-index: 10;
    top: 38%;
    left: 45%
}

.media_list .icon {
    top: 32%;
    left: 46%
}

#sidebar li a {
    color: #000
}

#sidebar li.current-menu-item {
    background: #eee
}

#sidebar li.current-menu-item a {
    color: #f58220;
    background: url(../images/chevron_right_hover.svg) center right no-repeat;
	background-size: 8px 12px;
}

#sidebar h4 {
    margin-top: 55.3px;
    margin-right: 40px;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 5px;
}

.media_list .listing{
    border-bottom: 1px solid #eee
}

#headerChart,
#headerQuote {
    font-size: 20px;
    padding-bottom: 5px
}


h3.tab {
    background: #fff;
    display: inline-block;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    padding: 0 35px;
    position: relative;
    z-index: 99
}

.page_banner {
    position: relative;
    width: 100%;
    height: 440px;
    overflow: hidden;
	z-index: 5;
}

.page_banner h3 {
    z-index: 9;
    color: #fff;
    position: absolute;
    top: 48%;
    height: 10px;
	width:100%;
	text-align:center;
    font-size: 30px;
    font-weight: 300;
}

.role{
    font-weight: 700
}

strong{
	font-weight: 400
}

.attachment-page_banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%
}

.lift {
    margin-top: -35px
}

.left_column,
.right_column {
    width: 50%;
    float: left
}

.panel_content {
    padding: 35px
}

.media_list {
    list-style-type: none
}

.media_list .video_link {
    height: 450px
}

.media_list .listing {
    position: relative;
    background: #fff;
    padding: 20px;
}

.media_list span {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 180px
}

.media_list .listing br {
    display: none
}

#content .media_list .listing h4 {
    margin: 0;
    padding: 0px;
    border-bottom: none;
}

#reports thead,
.investment-team h1 {
    border-bottom: 1px solid #f58220
}

.media_list .listing a {
    display: block;
    color: #000;
    padding-right: 20px;
}

.media_list .listing .terms {
    font-size: 10px;
    margin-bottom: 0px;
}

.media_list .listing .icon {
    width: 76px;
    height: 76px;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
}

.icon.video {
    background: url(../images/small_video_icon.png) no-repeat
}

.icon.link {
    background: url(../images/small_link_icon.png) no-repeat
}

.icon.pdf {
    background: url(../images/small_pdf_icon@2x.png) no-repeat;
    background-size: 76px 76px;
}

#content .left_column p {
    padding-right: 20px
}

.one_third {
    width: 30%;
    padding-right: 3%
}

.two_thirds {
    width: 60%;
    padding-right: 3%
}

.investment-team h1 {
    font-size: 20px;
    padding-bottom: 5px
}

.asset_management_menu li {
    padding: 4px 4px 4px 50px;
    margin-left: -50px
}

.asset_management_menu>li:hover {
    background: #eee
}

.asset_management_menu>li>a {
    display: block;
    margin-right: 20px;
    background: url(../images/chevron_right.svg) center right no-repeat;
	background-size: 8px 12px;
}

#sidebar .asset_management_menu>li:hover>a {
    color: #f58220;
    background: url(../images/chevron_right_hover.svg) center right no-repeat;
	background-size: 8px 12px;
}

#sidebar .asset_management_menu .sub-menu li a {
    display: block;
    margin-right: 20px;
    background: url(../images/chevron_right.svg) center right no-repeat;
	background-size: 8px 12px;
}

#sidebar .asset_management_menu .sub-menu li:hover a {
    color: #f58220;
    background: url(../images/chevron_right_hover.svg) center right no-repeat;
	background-size: 8px 12px;
}

.pagination {
    float: right;
    margin-bottom: 40px
}

.pagination .current_viewing {
    display: block;
    text-align: center
}

.pagination a {
    display: inline-block;
    background: #f58220;
    color: #fff;
    padding: 6px;
    margin-left: 3px;
    width: 50px;
    text-align: center
}

.pagination a.disable {
    background: #f2a068;
    cursor: default
}

.member {
    width: 200px;
    height: 350px;
    float: left;
    position: relative;
    margin: 0 35px 35px 0
}

.member .more_info {
    position: absolute;
    background: #f58220;
    background: rgba(245, 130, 32, .9);
    color: #fff;
    top: 162px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: none
}

#content h1,
.media h1,
.member h4,
.reports h1 {
    padding-bottom: 5px;
    border-bottom: 1px solid #f58220
}

.member a {
    display: block
}

.member h4 {
    color: #f58220;
    font-size: 16px
}

.member img {
    height: 200px;
    min-width: 200px
}

.member .qualifications,
.member .role {
    color: #000;
    margin-bottom: 0
}

.left_column.right_margin,
.right_column.left_margin {
    width: 47%
}

.left_margin {
    margin-left: 3%
}

.right_margin {
    margin-right: 3%
}

#content h1,
.media h1,
.reports h1 {
    font-size: 20px;
    color: #f58220
}

.breadcrumbs {
    margin-bottom: 20px
}

.breadcrumbs a {
    color: #6d6e71!important
}

#reports {
    width: 100%;
    margin: 40px 0
}

#reports thead td {
    color: #f58220;
    padding: 20px 0 5px 20px;
    font-size: 16px
}

#reports tbody tr:nth-child(odd) {
    background: #fff
}

#reports tbody td {
    padding: 20px
}

#reports tbody td a {
    color: #000
}

select {
    border: 0;
    margin-right: 30px;
    padding: 6px
}

.orange_button {
    background: #f58220;
    color: #fff;
    margin: 0;
    padding: 6px;
    border: none;
    cursor: pointer;
    cursor: hand;
    height: 28px
}

.media .media_list,
.no_results {
    margin-top: 40px
}

.media .media_list .video_link .icon {
    left: 45%;
    top: 32%
}

.media .media_list .video_link {
    height: 220px
}

.media .media_list .thumb {
    width: 410px;
    height: 240px
}

.media .media_list .description {
    padding: 20px;
    border-bottom: 1px solid #eee
}

.media .media_list .orange_button {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 20px 0px 10px;
}

.media .media_list li {
	margin: 0 50px 30px 0;
    float: none;
    width: 410px;
    background: #fff;
    position: relative;
    display: inline-block;
}

footer .gform_body {
    float: left
}

footer .gform_wrapper .top_label input.medium,
footer .gform_wrapper .top_label select.medium {
    width: 160px
}

footer .gform_wrapper {
    margin-top: 0
}

footer .gform_wrapper .gform_footer {
    float: left;
    width: 60px;
    clear: none;
    height: 30px;
    margin-top: 16px
}

footer .gform_wrapper .top_label .gfield_label {
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 35px;
    display: inline-block
}

.footer_menu li {
    display: inline-block;
    margin-right: 30px
}

body footer .gform_wrapper label.gfield_label+div.ginput_container {
    display: inline-block
}

footer .gform_wrapper .gform_footer input.button,
footer .gform_wrapper .gform_footer input[type=image],
footer .gform_wrapper .gform_footer input[type=submit] {
    background: #f58220;
    color: #fff;
    padding: 6px;
    border: none;
    cursor: pointer;
    cursor: hand;
    height: 28px
}

#mobile_menu {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 100;
    top: 75px;
    right: 0;
    width: 100%
}

#mobile_menu ul li {
    border-bottom: 1px solid #eee
}

#mobile_menu ul li a {
    display: block;
    padding: 10px 10px 10px 30px;
    color: #000
}

.contact .gform_wrapper .top_label .gfield_label,
.mobile_menu {
    display: none
}


.subscribe-form label{ display: inline-block !important; }
.subscribe-form input[type="text"]{
	border-width: 1px !important;
    border-color: rgb(216, 216, 216) !important;
    border-style: solid !important;
    box-sizing: border-box;
} 

footer .gform_wrapper .subscribe-form .gform_footer input[type=submit]{
	height:26px;
}

#mobile_menu ul li a:hover {
    background: #eee
}

#mobile_menu ul li .sub-menu {
    display: none;
    border-top: 1px solid #eee
}

#mobile_menu ul li.menu-item-has-children>a {
    background: url(../images/sidebar_arrow_down.png) center right no-repeat;
    margin-right: 30px
}

#mobile_menu ul li.menu-item-has-children>a.open {
    background: url(../images/sidebar_arrow_up.png) center right no-repeat
}

#mobile_menu ul li .sub-menu li a {
    padding-left: 60px
}

#mobile_menu ul li .sub-menu li .sub-menu li a {
    padding-left: 90px
}

.mobile_menu {
    position: absolute;
    right: 10px;
    top: 15px
}

@-ms-viewport {
    width: device-width
}

.contact .gform_wrapper .ginput_container {
    margin-bottom: 20px
}

.contact footer .gform_wrapper .ginput_container {
    margin-bottom: 0
}

.contact .gform_wrapper .ginput_container input,
.contact .gform_wrapper .ginput_container select,
.contact .gform_wrapper .ginput_container textarea {
    border: none
}

.contact .gform_wrapper .ginput_container select {
    color: #333
}

.gform_wrapper .gform_footer input[type=submit] {
    background: #f58220;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 31px;
    padding: 6px 20px
}

.asx_content h3,
.asx_content thead,
.full_asx_content h3,
.full_asx_content thead {
    border-bottom: 1px solid #f58220
}

.contact .right_column h1 {
    margin-top: 10px
}

body.update-your-details .ginput_container {
    margin-bottom: 0px
}

.asx_content table,
.full_asx_content table {
    margin-bottom: 10px
}

.asset-management .panel_content {
    min-height: 415px;
    padding: 35px
}

.asx_content h3,
.asx_content tbody td,
.asx_content thead td,
.full_asx_content h3,
.full_asx_content tbody td {
    padding-left: 10px
}

.asx_content h3 {
    border-top: 1px solid #f58220;
    color: #f58220
}

.asx_content thead td {
    color: #f58220
}

.full_asx_content h3 {
    border-top: 1px solid #f58220;
    color: #f58220
}

.full_asx_content thead td {
    padding-left: 10px;
    color: #f58220
}

.stacktable.small-only {
    display: none;
    margin-bottom: 35px
}

.stacktable.small-only a {
    background-color: #f58220;
    padding: 10px 30px 10px 30px;
    color: #fff;
}

.latest_nta,
.latest_nta a {
    color: #464646
}

.stacktable.small-only tbody,
.stacktable.small-only tr {
    width: 100%
}

.large-only {
    display: block
}

.st-head-row-main,
.st-key {
    display: none
}

.st-head-row {
    padding-top: 35px
}

.st-val {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
}
.st-val2{
	text-align: center;
}
.home_banner .rev_slider_wrapper .tp-bullets .tp-bullet .tp-bullet-title{display:none!important;}
 
@media (max-width:1826px) {
    .panel .content {
        height: 254px
    }
    .managed_funds {
        height: 301px
    }
}

@media (max-width:1560px) {
    .page_banner {
        height: 390px
    }
}

@media (max-width:1460px) {
    .page_banner {
        height: 350px
    }
 	.video_link {
    height: 320px
}
}

@media (max-width:1406px) {
    .panel .content {
        height: 272px
    }
    .managed_funds {
        height: 338px
    }
}

@media (max-width:1321px) {
    .panel .content {
        height: 290px
    }
    .managed_funds {
        height: 356px
    }
}

@media (max-width:1300px) {
    .container,
    .home .container,
    .home_banner,
    .media .media_list li {
        width: 100%;
	    }
    .media .media_list li {
        float: none;
        margin-right: 0
    }
    .asset-management .video_link .thumb {
        width: 100%;
        height: 100%
    }
    .page_banner {
        height: 300px
    }
    .page_banner img {
        width: 100%
    }
  	.video_link {
    height: 300px
	}
	.left_column.right_margin, .right_column.left_margin, .left_column, .right_column, .one_third, .two_thirds {
	width: 100%
	}
	.media .media_list .video_link {
    height: 450px;
	}
	.left_margin {
    	margin-left: 0px;
	}
	.right_margin{
		margin-right: 0px;
	}
}

@media (max-width:1230px) {
    .container,
    .home .container,
    .home_banner {
        width: 100%
    }
    .home_banner .call_to_action {
        left: 390px
    }
    .video_link .icon {
        left: 155px
    }
    .page_banner {
        height: 288px
    }
    .page_banner img {
        width: 100%;
        height: 360px
    }
    .media_list .video_link {
        height: 250px
    }
    footer .gform_wrapper .top_label input.medium,
    footer .gform_wrapper .top_label select.medium {
        width: 120px
    }
	.left_column.right_margin, .right_column.left_margin{
		width: 100%
	}
}

@media (max-width:1203px) {
    .container {
        width: 100%
    }
	.video_link {
     height: 260px
}
}


@media (max-width:1165px) {
	.mobile_menu,.panel h3 {
        display: block
    }
	nav#main, nav#top_right {
        display: none
    }
}

@media (max-width:1130px) {
    .container,
    .home .container,
    .home_banner {
        width: 100%
    }
    .home_banner .call_to_action {
        left: 335px
    }
    .panel .content .textwidget {
        padding: 35px
    }
    .page_banner {
        height: 252px
    }
    .page_banner img {
        width: 100%;
        height: 260px
    }
    .media_list .video_link {
        height: 180px
    }
    .media_list .icon {
        left: 115px;
        top: 50px
    }
    .panel .content {
        height: 344px
    }
    .managed_funds {
        height: 410px
    }
}

@media (max-width:1030px) {
    .container,
    .panel {
        width: 100%
    }
	.home .container{
		width: 100%;
		background-color:#eeeeee;
	}
    .home_banner {
        width: 100%;
    }
	footer .gform_wrapper .top_label .gfield_label{
		display:none
	}
    .listed_companies .content,
    .listed_companies .content>div,
    .panel,
    .panel .content {
        height: auto
    }
    .home_banner .call_to_action {
        left: 235px
    }
    .home_banner .call_to_action h2 {
        font-size: 20px!important
    }
    nav#main,
    nav#top_right {
        display: none
    }
    .mobile_menu,
    .panel h3 {
        display: block
    }
    .panel {
        float: none;
        margin: 0 0 40px;
        clear: both
    }
    .panel h3 {
        font-size: 25px;
        padding-left: 0
    }
    .panel.media .content {
        height: 459px
    }
    .media_list .video_link {
        height: 216px
    }
    footer .column {
        width: 33.3%
    }
    footer .two_col {
        width: 25%
    }
    #content,
    .page_banner {
        width: 100%
    }
    .page_banner img {
        width: 100%;
    }
    .video_link .icon {
        left: 40%;
        top: 30%
    }
    #content {
        margin: 0 auto;
        float: none;
		margin-left:0px!important;
    }
    #sidebar {
        display: none
    }
}

@media (max-width:930px) {
    .board-governance .left_column,
    .board-governance .right_column {
        width: 100%;
        float: none;
        margin: 0
    }
}

@media (max-width:850px) {
    .container,
    .home .container {
        width: 100%
    }
    .home_banner {
        width: 100%px
    }
    .home_banner .call_to_action {
        left: 190px;
        top: 115px
    }
    .home_banner .call_to_action h2 {
        font-size: 20px!important
    }
    .panel.media .content {
        height: 410px
    }
    .panel .latest_news {
        width: 49.8%;
        border-right: 1px solid #e5e5e5
    }
    #content,
    .page_banner {
        width: 100%
    }
    .page_banner img {
        height: 260px;
        width: 100%
    }
	.media .media_list .video_link {
    height: 380px;
}
.asx_slider {
    display: none;
}
.two_thirds {
    width: 97%;
    padding-right: 3%;
}

}

@media (max-width:700px) {
    .container,
    .home .container {
        width: 100%
    }
    .home_banner {
        width: 100%
    }
    .home_banner .call_to_action {
        left: 135px;
        top: 85px
    }
    .home_banner .call_to_action h2 {
        font-size: 20px!important
    }
    footer {
        display: none
    }
    .sub_footer {
        margin-top: 35px
    }
    .panel.media .content {
        height: 310px
    }
    .page_banner,
    .page_banner img {
        height: 220px;
        width: 100%
    }
	.page_banner h3 {
		line-height: 30px;
		top:40%;
		font-size:22px
    }
    #content {
        width: 100%
    }
    .media_list .video_link {
        height: 190px
    }
	.media .media_list .video_link {
    	height: 350px;
	}
}

@media (max-width:600px) {
    .container,
    .home .container,
    .home_banner {
        width: 100%
    }
    .home_banner .call_to_action {
        left: 85px;
        top: 70px
    }
    .home_banner .call_to_action a {
        width: 200px;
        margin: 0 auto!important
    }
    .home_banner .call_to_action h2 {
        font-size: 20px!important
    }
    .panel.media .content {
        height: 255px
    }
    .panel .latest_news {
        width: 49.7%
    }
    #content {
        width: 100%
    }
    #content .left_column,
    #content .right_column {
        float: none;
        width: 100%
    }
    .media_list .video_link {
        height: 280px
    }
    .page_banner img {
        height: 219px;
        width: 100%
    }
    .page_banner h3 {
		line-height: 30px;
		top:40%;
		font-size:22px
    }
    .lift {
        margin-top: 0px
    }
    h3.tab {
        margin: 0;
        font-size: 22px;
        width: 100%;
        padding: 15px 0px 15px 35px;
    }
    .column {
        float: none;
        width: 100%
    }
}

@media (max-width:500px) {
    .home_banner .rev_slider_wrapper .rev_slider ul li .tp-caption{padding-left:15px!important;padding-right:15px!important;
    box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:20px!important;} 
    .home_banner .rev_slider_wrapper .rev_slider ul li .tp-caption.rev-btn{font-size:14px!important;}
    .container,
    .home .container,
    .home_banner {
        width: 100%
    }
    .home_banner .call_to_action {
        left: 0px;
        top: 0px; 
		margin-bottom:30px
    }
	#content img {
    max-width: 100%;
	}
    .asx_slider {
        display: none
    }
    .panel.media .content {
        height: 200px
    }
    .video_link .icon {
        left: 41%;
        top: 30%
    }
    .panel .latest_news {
        width: 49.6%
    }
    .sub_footer .left,
    .sub_footer .right {
        width: 50%
    }
    #content,
    .page_banner img {
        width: 100%
    }
    .media_list .video_link {
        height: 240px
    }
    .media .media_list .thumb {
        height: 210px;
        width: 330px
    }
    .media .media_list .video_link {
      	height: 250px;
    	margin: 0 auto;
    	width: 100%;
    	margin-left: 0px;
    	margin-right: 0px;
    }
	.media_list .listing .icon{
		width: 81px;
    	height: 69px;
    	position: absolute;
    	right: 0;
    	top: 0;
    	left: auto;
	}
	.media .media_list .orange_button {
    	display: block;
    	margin-right: 0;
    	width: 100%;
    	padding-right: 0;
	    padding-left: 0;
	}
	.media .media_list span {
    width: 100%;
    text-align: center;
    display: block;
    padding: 5px 0;
    line-height: 48px;
	}
}

@media (max-width:430px) {
    .container,
    .home .container,
    .home_banner {
        width: 100%
    }
    .home_banner .call_to_action {
        left: -10px;
        top: 30px
    }
    .home_banner .call_to_action a {
        height: 40px;
        line-height: 40px!important;
        width: 180px
    }
    .video_link .icon {
        left: 41%;
        top: 30%
    }
	.media .media_list .video_link {
    height: 200px;
    width: 100%;
	}
    .home_banner .call_to_action h2 {
        font-size: 26px
    }
    .panel.media .content {
        height: 165px
    }
    .sub_footer .left,
    .sub_footer .right {
        width: 100%;
        float: none;
        text-align: center
    }
    #content,
    .page_banner img {
        width: 100%
    }
    .sub_footer .right .sub_menu {
        margin: 0 auto
    }
    .sub_footer .right .sub_menu li {
        margin: 0 10px
    }
    .media_list .video_link {
        height: 200px
    }
    .media .media_list .thumb {
        height: 160px;
        width: 230px
    }
    .sub_footer {
        margin-top: 40px
    }
  	.media .media_list .video_link .icon {
   		 left: 40%;
   		 top: 32%;
	}
    .media .media_list .orange_button {
        display: block;
        margin-right: 0;
        width: 100%;
        padding-right: 0;
        padding-left: 0
    }
    .media .media_list span {
        width: 100%;
        text-align: center;
        display: block;
        padding: 5px 0;
		line-height: 48px
    }
    .media_list .listing {
        height: auto
    }
    .media_list .listing .icon {
		width: 81px;
   		height: 69px;
    	position: absolute;
    right: 0;
    top: 0;
    left: auto;
    }
    .media_list .listing .terms {
        margin-bottom: 10px
    }
    .stacktable.small-only {
        display: block
    }
    .large-only {
        display: none
    }
}

@media (max-width:350px) {
    #content,
    .container,
    .home .container,
    .home_banner,
    .page_banner,
    .page_banner img,
    iframe {
        width: 100%
    }
    .mobile_menu {
        right: 10px
    }
    header {
        padding: 0 10px
    }
    .page_banner h3 {
        margin: 0 auto;
        position: relative-
    }
}

#content .selectboxit-container {
    margin-right: 15px;
    margin-bottom: 10px;
	margin-top: 10px;
    height: 28px;
	width:100%;
}

#content .selectboxit-container .selectboxit,
#content .selectboxit-container .selectboxit-options {
    border-radius: 0
}

#content .selectboxit-container .selectboxit-options a,
#content .selectboxit-container span {
    height: 28px;
    font-size: 12px
}

#content .selectboxit-container .selectboxit-btn {
    background: #fff;
    border: none;
    margin-top: 0px;
	width:100%;
}

#content .selectboxit-container .selectboxit-option-icon-container {
    margin: 0;
    padding: 0;
    width: 4px
}

.selectboxit .selectboxit-arrow-container .selectboxit-arrow{
	top:45%!important;
}


.gform_wrapper .ginput_complex label{
	display:none!important;
}
.gform_wrapper .ginput_complex.ginput_container{
	overflow:visible!important;
}

.latest_nta {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.latest_nta a:hover {
    color: #f58220!important
}

.social_media_2 {
    height: 50px;
    background: #f58220;
}

.front_page {
    float: left;
    line-height: 50px;
    padding-left: 35px;
    color: #fff;
    font-size: 12px
}

.investor-roadshow .gform_wrapper .top_label .gfield_label {
    display: none
}

.panel .more_info_2 {
    width: 99.9%;
    float: left;
    color: #f58220;
    background: #fff;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px
}

.listed_companies .content>div.last {
    background: #fff;
    border: 0 solid #e5e5e5
}

ul.footer_menu a {
    color: #000!important
}

body.investor-roadshow a {
    color: #f58220
}

.gform_wrapper input[type=text] {
    padding: .313em!important;
    text-indent: .313em!important
}

.gform_wrapper div.validation_error {
    color: #2a62bc!important;
    border-top: 1px solid #2a62bc!important;
    border-bottom: 1px solid #2a62bc!important
}

.gform_wrapper li.gfield_error input[type=text] {
    border: 1px solid #2a62bc!important
}

.gform_wrapper .validation_message {
    color: #2A62BC!important
}

.gform_wrapper li.gfield.gfield_error {
    background-color: #e2e2e2!important;
    border-top: 1px solid #b7b7b7!important;
    border-bottom: 1px solid #b7b7b7!important
}

.gform_wrapper li.hidden_label input {
    margin-bottom: 0px;
	margin-top:0px;
}

input.orange_button {
    margin-top: 10px
}

.question {
    text-transform: none!important;
    padding-bottom: 5px
}

.lastpad {
    padding-bottom: 25px
}

.subhead {
    color: #f58220;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
    padding-top: 10px
}

.subhead2 {
    color: #f58220;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 5px;
    padding-top: 15px;
    font-weight: 400
}

table.gridtable {
    color: #333333;
    border-width: 1px;
    border-color: #eeeeee;
    border-collapse: collapse;
}

table.gridtable th {
    font-weight: 600;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #eeeeee;
    background-color: #f58220;
    color: #ffffff
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #eeeeee;
    background-color: #ffffff;
}

/*New Home Styles*/
/*Remove star from subscribe*/
.gform_wrapper .gfield_required {
	color: #790000;
	margin-left: .25em;
    display: none;
}

.white_container {
    width: 100%;
    margin: 0 auto;
    position: absolute;
	background-color: #fff;
    bottom: 0;
    left: 0;
}
/*Don't display icons on media page*/
.page-id-14 #media_list .listing .icon {
	display:none!important
}
/*Investor Centre Sidebar Fix*/
.ic_sidebar{
	margin-top:76px!important;
	color: #f58220
}
/*404 Page*/
.four_heading{
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
    display: block;
    text-align: center;
    margin-top: 20%;
  	padding-bottom: 30px;
    text-transform: uppercase;
    color: #f58220;
}
.four_text{
	font-size: 20px;
    font-weight: 200;
    line-height: 26px;
    display: block;
    text-align: center;
    padding-bottom: 30px;
    color: #464646;
	margin-bottom: 20%;
}
/*Full Page Sidebar*/
html,body{
	margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100% !important;
}
body{
	margin-bottom: -187px!important;
		
}
html{	
	}


.container{
	height:100%;
	min-height: 100%;
	overflow:auto;
	padding-bottom: 110px;
}

#content {
    margin-left: 315px;
}

footer {
    margin: 0;
    border-top: 1px solid #eee;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    left: 0; bottom: 0;
    width: 100%;
	clear:both;
	margin-top: -110px; /* negative value of footer height */
	height: 110px;
	z-index: 5;
	background: #ffffff;
}
.content_padding {
    padding: 35px;
    background: #eee;
}

/* Sticky Footer*/

#wrap {
    min-height: calc(100% - 75px);
	min-height: -moz-calc(100% - 75px);
	min-height: -webkit-calc(100% - 75px);
    height: auto !important;
    height: 100%;
    margin: 0 auto -110px;
    position: relative;
    background-color: #eeeeee;
}
.head-container{
	width: 100%;
    margin: 0 auto;
    position: relative;
	
}


/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#slider-wrap {
    min-height: calc(100% - 75px);
	min-height: -moz-calc(100% - 75px);
	min-height: -webkit-calc(100% - 75px);
    height: auto !important;
    height: 100%;
    margin: 0 auto -110px;
    position: relative;
    background-color: #eeeeee;
}
.asx_slider {
    position: absolute;
    right: -35px;
    top: 74px;
    z-index: 1000;
    width: 41px;
	background: #fff
}

.asx_content {
   width: 290px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 110px;
    background: #fff;
    border-left: solid 1px #eeeeee;
    display: none;
    z-index: 100;
    height: 100%;
    min-height: calc(100vh - 184px);
	min-height: -moz-calc(100vh - 184px);
	min-height: -webkit-calc(100vh - 184px);
}
#sidebar{
	width: 280px;
    padding-left: 35px;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 109px;
	background-color: #ffffff;
	z-index: 5
}
.asx_slider.open {
    right: -40px;
    width: 331px;
}

/*CIE Home Page */
/*Text Classes */
.box_head{
	text-align: center;
    padding: 0px 15px 0px 15px!important;
    border-bottom: 0px!important;
    margin: 0px;
}

/*Box Classes*/

.cie_box_third{
    width: 31%;
    margin-right:3%;
	float: left;
    margin-bottom: 35px;
	background-color:#fff; 
	text-align:center;  
	border: solid 1px #e4e4e4; 
	display:inline; 
	min-height:260px;
}


.cie_box_third_last{
	width: 31%;
    margin-right:0px;
	float: left;
    margin-bottom: 35px;
	background-color:#fff; 
	text-align:center; 
	border: solid 1px #e4e4e4; 
	display:inline; 
	min-height:260px;
}
	
.cie_two_thirds {
    width: 65%;
    padding-right: 3%;
}

.cie_third_last{
	width: 31%;
    margin-right:0px;
	float: left;
    margin-bottom: 35px;
}
.cie_middle {
    height: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
	min-height:150px;
}
.cie_middle_head {
    height: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
	min-height:100px;
	border-bottom: 1px solid #e4e4e4;
}

@media (max-width:1300px) {
	.cie_box_third, .cie_two_thirds, .cie_third_last, .cie_box_third_last, .ipo_box_third_last{
		width:100%!important;
	}
	
	.box_img{
		margin-top:20px!important; 
		margin-bottom:20px!important; 
	}
	.box_img_right{
		margin-top:0px!important;
		margin-bottom:20px!important;
	}
}

	/*New IPO Styles*/
	
	p.para_size{
	font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    margin-bottom: 0px;
	padding-bottom: 15px;
    color: #464646;
}
	
p.para_size_intro{
	font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 0px;
	padding-bottom: 15px;
    color: #464646;
}

#content h2.ipo_under{
	font-size: 18px;
	line-height: 22px;
	color: #464646;
	padding-bottom: 8px;
	padding-top: 15px;
	border-bottom: 1px solid #464646;
	margin-bottom: 20px;
}

.icon.ipo_download {
    background: url(../images/ipo_download_icon.svg) no-repeat;
    background-size: 26px 48px;
}

.icon.ipo_arrow {
    background: url(../images/ipo_arrow.svg) no-repeat;
    background-size: 26px 48px;
}

.icon.ipo_arrow:hover {
    background: url(../images/ipo_arrow_hover.svg) no-repeat;
    background-size: 26px 48px;
}


.icon.ipo_download:hover {
    background: url(../images/ipo_download_icon_hover.svg) no-repeat;
    background-size: 26px 48px;
}
	
.ipo_list .listing{
    border-bottom: 1px solid #d4d4d4;
	position:relative;
	padding: 10px;
}
	
.ipo_list .listing .icon {
    width: 30px;
    height: 48px;
    position: absolute;
    right: 0;
    top: 10px;
    left: auto;
}

.ipo_list .listing a {
    display: block;
    color: #000;
    padding-right: 20px;
}

#content h4.ipo_hover a {
	padding-bottom:0px;
	border-bottom:none!important;
	color: #464646;
	font-size: 18px;
	line-height: 28px;
	text-transform:none!important;
}

#content h4.ipo_hover {
	padding-bottom:0px;
	border-bottom:none!important;
	color: #464646;
	font-size: 18px;
	line-height: 28px;
	text-transform:none!important;
}

#content h4.ipo_hover :hover{
	color:#f58220!important;
}

#content h4.ipo_hover a :hover{
	color:#f58220!important;
}
	
p .line{
	padding-top:15px;
	border-bottom: 1px solid #d4d4d4;
}
	
#content h2.ipo_no_under{
	font-size: 18px;
	line-height: 22px;
	color: #464646;
	text-align: center;
	margin: 0px!important;
	padding: 0px 15px 0px 15px!important;
    border-bottom: 0px!important;
}
	
/*Box Classes*/

.ipo_box_third{
    width: 100%;
    margin-right:3%;
	float: left;
    margin-bottom: 35px;
	background-color:#fff; 
	text-align:center;  
	border: solid 1px #e4e4e4; 
	display:inline; 
	min-height:260px;
}


.ipo_box_third_last{
	width: 100%;
    margin-right:0px;
	float: left;
    margin-bottom: 35px;
	background-color:#fff; 
	text-align:center; 
	border: solid 1px #e4e4e4; 
	display:inline; 
	min-height:200px;
}
	
.ipo_two_thirds {
    width: 65%;
    padding-right: 3%;
}

.ipo_third_last{
	width: 100%;
    margin-right:0px;
	float: left;
    margin-bottom: 35px;
}
.ipo_middle {
    height: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
	min-height:100px;
}
.ipo_middle_head {
    height: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
	min-height:75px;
	border-bottom: 1px solid #e4e4e4;
}

@media (max-width:1300px) {
	.ipo_box_third, .ipo_two_thirds, .ipo_third_last, .ipo_box_third_last{
		width:100%;
	}
	
	.box_img{
		margin-top:20px!important; 
		margin-bottom:20px!important; 
	}
	.box_img_right{
		margin-top:0px!important;
		margin-bottom:20px!important;
	}
}

	/*New IPO Styles*/
	
	p.para_size{
	font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    margin-bottom: 0px;
	padding-bottom: 15px;
    color: #464646;
}

p.para_size a{
	color:#ff8220;
	font-weight: 400;

}

	
p.para_size_intro{
	font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 0px;
	padding-bottom: 15px;
    color: #464646;
}	
		
	/*Other Styles - Header Updates*/	
	
#content_heading{
	background-color:#fff;
	min-height: 118px;
}

.content_padding_white{
	background-color:#ffffff;
	padding:35px;
}
	/*Other Styles - List Updates*/	

.ipo_list .listing_top{
    border-bottom: 1px solid #d4d4d4;
	position:relative;
	padding: 10px;
	border-top: 1px solid #d4d4d4;
}
@media (max-width:1300px){
	.ipo_list .listing_top{
		border-top: none;
	}
	h1.center_media{
	text-align: center;
	margin-bottom:35px;
}

}

.medium_text{
	font-weight: 400
}

h1.center_media{
	line-height: 28px;
}

	/*Fix for contact page: */   

.gform_wrapper textarea{	
	padding: .313em!important;
    text-indent: .313em!important	
}

span#input_11_13_6SelectBoxIt{
	margin-top:9px!important
}

.gform_wrapper li.hidden_label input{
	margin-top:0px;
}

div.ginput_complex.ginput_container.gf_name_has_2 span{
	width:100%!important;
}

div.ginput_container_name span{
	padding-right:0px;
	margin-bottom:0px;
}

.gform_wrapper .ginput_complex .ginput_right{
	margin-left:0px!important;
	margin-top:0px;
	margin-bottom:0px!important;	
}

body .gform_wrapper label.gfield_label+div.ginput_container{
	margin-top:0px
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle{
	padding-top:0px;
}

.gform_wrapper .ginput_complex input[type=text],input#input_12_20_3 {
	width:100%!important
}

.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right{
	width:100%!important
}

span#input_12_16_6_container, span#input_12_17_3_container, span#input_12_17_4_container, span#input_12_17_5_container, span#input_12_20_6_container{
	width:100%!important
}

.gform_wrapper .ginput_complex .ginput_full input[type=email], .gform_wrapper .ginput_complex .ginput_full input[type=number], .gform_wrapper .ginput_complex .ginput_full input[type=password], .gform_wrapper .ginput_complex .ginput_full input[type=tel], .gform_wrapper .ginput_complex .ginput_full input[type=text], .gform_wrapper .ginput_complex .ginput_full input[type=url]{
	width: 100%!important;
}

.gform_wrapper .hidden_label input.large, .gform_wrapper .hidden_label select.large, .gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large{
	width:100%!important;
}

input#input_11_13_1, span#input_11_12_3_container, input#input_11_13_2{
	width:100%!important;
	padding:0px;
}

.gform_wrapper textarea.large{
	width:100%!important
}

div.ginput_container_name span{
	padding-right:0px!important;
}
input#input_12_17_1, span#input_12_17_2_container, div.ginput_container_name span{
	width:100%!important;
}

input#input_12_17_2{
	width:100%!important;
}

/*New Column Classes*/

.column_third{
    width: 31%;
    margin-right:3%;
	float: left;
    margin-bottom: 0px; 
	display:inline; 
}

.column_third_last{
	width: 31%;
    margin-right:0px;
	float: left;
    margin-bottom: 0px;
	display:inline; 
}

.center_media {
    height: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.img-circle {
    border-radius: 50%;
}

.left_col.right_margin, .right_col.left_margin{
	width:47%;	
}

.left_col, .right_col{
	width:50%;
}

@media (max-width:600px) {
	.column_third, .column_third_last{
		width:100%!important;
	}
	.left_col, .right_col{
		width:100%!important;
	}
	.right_margin, .left_margin{
		margin:0px!important
	}
	.media_list .listing .icon{
		display:none;
	}
}

/*List Styles*/
ul .ul-new{
	list-style-type: disc; 
	padding-left:20px;
	font-size: 16px;
	font-weight: 200;
	line-height: 26px;
	color: #464646;
}

li .li-new{
	margin-bottom: 0px;
	padding-bottom: 10px;	
}

.gform_wrapper .gform_body{
	width:inherit!important
}

.gform_wrapper ul.gform_fields li.gfield{
	padding-right:0px!important
}

/* footer social */
.footer-social {
    float: right;
    margin-top: 15px;
}

.footer-social a img {
    height: 15px;
    margin-right: 20px;
}

ul.footer_menu {
    float: right;
}

.gform_footer.top_label {
    padding-top: 0px;
}


@media all and (max-width: 1024px) {
      footer .column_one .left {
        margin-left: 0px;
        margin-top: 15px;
    }
    .container_white {
        display: flex;
        flex-direction: column;
        align-items:  center;
    }
    .column.one_col {
        width: 100%;
    display: flex;
    flex-direction:column;
    align-items:  center;
    margin-bottom: 10px;
    margin-top: 0px;
    }
    .footer-social a img {
              margin-right: 10px;
              margin-left: 10px;
          }
}